.content {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    width: 900px;
    margin: 0 auto;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    height: 25px;
    cursor: pointer;
}

table, th, td {
    border: 1px solid #CCC;
}

td {
    padding: 5px;
}

thead tr {
    background-color: #BBB;
}